.App{
  background-color: rgba(0,0,0,.85);
  background-image: url(https://gomycodewebsite.blob.core.windows.net/website/img/white_Logo_4f6fdd21a0_b5e4f70e94.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 50% 64%;
}